{% extends 'base.html' %} {% load static %} {% block extrastyle %}
<style>
  .card {
    border-radius: 20px;
    box-shadow: 0 0 5px #a29f9f;
    padding: 10px;
    margin-bottom: 10px;
  }
</style>
{% endblock extrastyle %} {% block content %}

<div class="container">
  <div class="row mx-auto justify-content-center">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-center">
          <span>
            <label class="card-title mb-0" style="font-size: 20px">Total Users:</label>
            <label class="card-text mb-0 ml-2" style="font-size: 20px">{{ users.count }}</label>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-center">
          <span>
            <label class="card-title mb-0" style="font-size: 20px">Total Experiments:</label>
            <label class="card-text mb-0 ml-2" style="font-size: 20px">{{ experiments.count }}</label>
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-center">
          <span>
            <label class="card-title mb-0" style="font-size: 20px">My Experiments:</label>
            <label class="card-text mb-0 ml-2" style="font-size: 20px">{{ my_experiments.count }}</label>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-auto justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card px-5 py-5">
        <canvas id="scatterChart"></canvas>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/dashboard-chartjs.js' %}"></script>

{% endblock content %}
