{% extends 'base.html' %} {% load static %} {% load widget_tweaks %} {% load crispy_forms_tags %}
<!--  -->
{% block extrastyle %}
<style>
  .add-field {
    font-size: 20px;
    align-items: center;
  }
  .add-field:hover {
    -webkit-text-stroke: 2px;
  }
</style>

{% endblock extrastyle %} {% block content %}
<div class="container mt-1" x-data="{showCoatingParam : false, coating_method : 'Spin Coating'}">
  <div class="row justify-content-center">
    <h1 class="mb-4" style="color: #7b7b7b">Layer</h1>

    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="{{ form.layer_type.id_for_label }}">{{ form.layer_type.label }}</label>
          {% render_field form.layer_type hx-post="layer_type" hx-target="#layerType" hx-trigger="change, load" %}
        </div>
      </div>
      <div class="row" id="layerType"></div>

      <button type="submit" class="btn btn-primary mt-4">Save</button>
    </form>
  </div>
</div>

{% endblock %} {% block extrascripts %}
<script>
  $("#id_stack").select2({
    theme: "classic",
  });
  $("#id_formulation").select2({
    theme: "classic",
  });
</script>
{% endblock extrascripts %}
