{% extends 'base.html' %} {% load static %} {% load widget_tweaks %} {% load crispy_forms_tags %}
<!--  -->
{% block extrastyle %}
<style>
  .add-field {
    font-size: 20px;
    align-items: center;
  }
  .add-field:hover {
    -webkit-text-stroke: 2px;
  }
</style>

{% endblock extrastyle %} {% block content %}
<!-- x-data to show coating methods using coating parameters form -->
<div
  class="container mt-1"
  x-data='{showCoatingParam: true,
  coating_method: "{{form.instance.coating_method}}
  layerType: "{{form.instance.layer_type}}"
}'
>
  <div class="row justify-content-center">
    <h1 class="mb-4" style="color: #7b7b7b">Update Layer</h1>

    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="{{ form.layer_type.id_for_label }}">{{ form.layer_type.label }}</label>
          <input type="hidden" name="layer" value="{{ form.instance.id}}" />
          <select
            name="layer_type"
            class="form-select"
            hx-trigger="change,load"
            hx-post="{% url 'update_layer_type' form.instance.id %}"
            hx-target="#layerType"
            value="{{form.instance.layer_type}}"
            id="id_layer_type"
          >
            <option selected value="{{form.instance.layer_type}}">{{form.instance.layer_type}}</option>

            <option value="Coating Layer">Coating Layer</option>

            <option value="Surface Treatment">Surface Treatment</option>
          </select>
        </div>
      </div>
      <div class="row" id="layerType"></div>

      <button type="submit" class="btn btn-primary mt-4">Update</button>
      <button type="submit" class="btn btn-secondary mt-4" name="save_as_new" value="save_as_new">Save as new</button>
    </form>
  </div>
</div>

{% endblock %}
